html,
body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 1200px;
  margin-right: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

header {
  position: sticky;
  top: 0px;
  z-index: 1;
  background: #fff;
  > .container {
    padding: 10px 10px;
    padding-bottom: 0px;
    display: grid;
    grid-template-columns: 100px auto auto;
    gap: 10px;
    text-align: right;
    line-height: 36px;
    box-shadow: 0 6px 4px -2px #c5c5c5;
    > .col {
      > form {
        position: relative;
        margin-left: 110px;
        margin-right: 20px;
        margin-top: -2px;
        > input {
          width: 100%;
          padding: 8px;
          border-radius: 5px;
          border: solid 1px rgb(197, 197, 197);
          background: #fff;
          position: relative;
          z-index: 1;
        }
        > input:focus ~ .search-results {
          display: block;
        }
      }
      > .act {
        display: inline-block;
        cursor: pointer;
        margin-left: 10px;
        .fa-shopping-bag {
          position: relative;
          #total {
            position: absolute;
            top: -17px;
            left: 5px;
            background: #4848f3;
            color: #fff;
            height: 22px;
            line-height: 22px;
            padding: 0 6px;
            border-radius: 5px;
            font-size: 10px;
            display: none;
            &.active {
              display: block;
            }
          }
        }
      }
      > .fas {
        margin-left: 10px;
      }
      .search-results {
        display: none;
        position: absolute;
        background: #f4f4fa;
        width: calc(100% + 18px);
        margin-left: -1px;
        margin-top: -5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        z-index: 0;
        border: solid 1px rgb(194, 194, 194);
        overflow: hidden;
        text-align: left;
        p {
          margin: 5px;
          color: rgb(56, 56, 56);
        }
        > .product-single {
          text-align: left;
          width: calc(100% - 10px);
          height: 30px;
          border: solid 1px rgb(236, 236, 236);
          line-height: 30px;
          padding: 5px;
          &:first-child {
            padding-top: 10px;
          }
          > .image {
            float: left;
            width: 30px;
            height: 100%;
            > img {
              object-fit: contain;
              width: 100%;
              height: 100%;
            }
          }
          > .title {
            float: left;
            margin-left: 5px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: calc(100% - 170px);
          }
          > .price {
            float: right;
            max-width: 130px;
          }
        }
      }
    }
    img {
      width: 100px;
    }
  }
}

main {
  > .container {
    padding-top: 10px;
    padding-bottom: 20px;
    min-height: 220px;
    // background: rgb(240, 238, 238);
    display: grid;
    grid-template-columns: 200px auto;
    > .layout-left {
      p {
        margin: 0;
      }
      > .options-display {
        transition: max-height 0.2s ease;
        line-height: 26px;
        margin-left: -5px;
        padding: 5px;
        max-height: 260px;
        color: rgb(59, 59, 59);
        width: calc(100% - 5px);
        position: relative;
        .arrow {
          display: none;
          position: absolute;
          cursor: pointer;
          padding: 5px 10px;
          top: 15px;
          right: 0px;
          color: rgb(185, 178, 178);
        }
        > h2 {
          cursor: pointer;
        }
        .category-single {
          cursor: pointer;
          box-sizing: border-box;
          &:hover {
            color: #4848f3;
          }
        }
      }
    }
    > .products {
      width: calc(100% + 5px);
      .options-display {
        margin-top: 3px;
        text-align: right;
        font-size: 20px;
        select{
          float: left;
          padding: 5px;
          border: solid 1px #4848f3;
          border-radius: 5px;
          margin-left: 20px;
        }
        > .fas {
          border: solid 1px #4848f3;
          border-radius: 5px;
          color: #4848f3;
          padding: 3px;
          transition: 0.1s;
          cursor: pointer;
          &:hover {
            background: #4848f3;
            color: #fff;
          }
        }
      }
      #products {
        display: grid;
        place-self: start;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        margin-top: 5px;
        margin-left: 20px;
        gap: 10px;
        .product-single {
          position: relative;
          width: 100%;
          border-radius: 5px;
          border: solid 1px rgb(223, 222, 222);
          height: 300px;
          > .image {
            width: 100%;
            height: 200px;
            > img {
              object-fit: contain;
              width: calc(100% - 20px);
              height: calc(100% - 20px);
              padding: 10px;
            }
          }
          > .title,
          .price {
            margin-left: 10px;
          }
          > .description {
            display: none;
            margin-top: 10px;
          }
          button {
            background: #4848f3;
            color: #fff;
            text-transform: uppercase;
            position: absolute;
            bottom: 0;
            left: -1px;
            width: calc(100% + 2px);
            height: 30px;
            border-radius: 0 0 5px 5px;
            border: none;
            cursor: pointer;
            &:hover {
              background: #3a3ac7;
            }
          }
        }
        &.list {
          grid-template-columns: 1fr;
          .product-single {
            height: 170px;
            width: 100%;
            > .image {
              width: 150px;
              height: calc(100% - 20px);
              float: left;
              margin-right: 20px;
              > img {
                object-fit: fill;
                width: 100%;
                height: 100%;
              }
            }
            > .title {
              float: left;
              margin-right: 15px;
            }
            > .title,
            .price {
              margin-left: 0px;
            }
            > .description {
              display: block;
            }
          }
          button {
            width: 200px;
            left: 170px;
            bottom: 10px;
            border-radius: 5px;
          }
        }
      }
    }
  }
  > .shopping-bag {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: fixed;
    visibility: hidden;
    &.active {
      visibility: visible;
      > .bag {
        right: 0px;
        z-index: 5;
        padding-top: 10px;
        > .close-bag {
          position: absolute;
          top: 0px;
          background: red;
          padding: 5px;
          padding-left: 7px;
          padding-right: 18px;
          width: 0px;
          border-bottom-right-radius: 5px;
          background: #c7c7c7;
          color: #fff;
          cursor: pointer;
          &:hover{
            background: #000;
            color: #fff;
          }
        }
        .full {
          display: none;
          span {
            color: #4848f3;
            font-weight: bold;
          }
          &.active {
            display: block;
          }
          button {
            width: calc(100% - 20px);
            margin: 10px;
            text-transform: uppercase;
            background: #4848f3;
            border: none;
            color: #fff;
            border-radius: 5px;
            padding: 10px;
            cursor: pointer;
            &:hover {
              background: #3a3ac7;
            }
          }
        }
        p {
          margin: 10px;
        }
      }
    }
    > .bag {
      box-shadow: -6px 0px 30px 0px rgb(34, 34, 34);
      background: #fff;
      position: absolute;
      top: 0;
      right: -380px;
      height: 100%;
      width: 380px;
      transition: all 0.3s ease;
      overflow-y: auto;
    }
    .product-single {
      display: grid;
      grid-template-columns: 60px auto 70px 40px 20px;
      padding: 10px;
      border-bottom: solid 1px rgb(223, 222, 222);
      gap: 10px;
      > .image {
        width: 60px;
        height: 60px;
        > img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      > .close {
        background: rgb(230, 230, 230);
        color: rgb(143, 143, 143);
        border-radius: 25%;
        height: 26px;
        width: 26px;
        font-size: 20px;
        cursor: pointer;
        transition: 0.1s;
        position: relative;
        > p {
          margin: 0;
          position: absolute;
          top: calc(50% - 3px);
          left: 50%;
          transform: translate(-50%, -50%);
        }
        &:hover {
          background: #000;
          color: #fff;
        }
      }
      * {
        display: inline-block;
      }
      
        
      input{
        height: 24px;
        background: rgb(230, 230, 230);
        border:none;
        border-radius: 5px;
      }
    }
  }
}


h2 {
  border-bottom: solid 1px rgb(226, 226, 226);
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 5px;
}

.price {
  color: #4848f3;
  > span {
    color: red;
  }
  > span.discount {
    color: #4848f3;
    text-decoration: line-through;
    font-size: 14px;
  }
}

footer {
  background: rgb(110, 110, 110);
  color: #fff;
  .container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
    .col {
      > h2 {
        border-bottom: solid 1px rgb(131, 131, 131);
      }
      > p {
        margin: 0px;
      }
      > iframe {
        width: 100%;
        height: 300px;
        border-radius: 2px;
        opacity: 0.5;
        margin: 20px 0;
        transition: 0.1s;
        &:hover {
          opacity: 1;
        }
      }
      > a {
        display: block;
        text-decoration: none;
        color: #fff;
        font-weight: normal;
        line-height: 26px;
        &:hover {
          color: #ababf1;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  header {
    .container {
      grid-template-columns: 100px auto 70px;
      > .col {
        > form {
          margin-left: 20px;
        }
        > .act {
          span {
            display: none;
          }
        }
      }
    }
  }
  main {
    > .container {
      grid-template-columns: auto;
      padding-top: 0px;
      > .products {
        width: 100%;
        padding-top: 20px;
        > .options-display{
        
          select{
            float: none;
          }
        >.fas {
          display: none;
        }}
        #products {
          margin-left: 0px;
        }
      }
      .layout-left {
        > .options-display {
          max-height: 40px !important;
          overflow: hidden;
          &.active {
            max-height: 300px !important;
            .arrow {
              transform: rotate(90deg);
            }
          }
          .arrow {
            display: block;
            transform: rotate(0deg);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  header {
    > .container {
      padding-bottom: 10px;
      grid-template-columns: 100px 0px auto;
      position: relative;
      height: 80px;
      > .col {
        > form {
          margin-left: 0px;
          position: absolute;
          top: calc(50% + 5px);
          left: 0;
          right: 0;
          width: calc(100% - 35px);
          padding: 0 10px;
          text-align: left;
          > input {
            width: 100%;
          }
          .search-results {
            width: calc(100% - 2px);
          }
        }
      }
    }
  }
  footer {
    .container {
      grid-template-columns: auto;
      gap: 0;
      > .col {
        > iframe {
          opacity: 1;
        }
      }
    }
  }
}

.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all {
  height: 10px;
  overflow: hidden;
  background: rgb(235, 235, 235);
  cursor: pointer;
}
div.ui-slider-range.ui-widget-header {
  background: #4848f3;
  height: 10px;
}

.ui-slider-handle.ui-state-default.ui-corner-all {
  opacity: 0;
}
